[submodule "extern/ImGui"]
	path = extern/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/GLFW"]
	path = extern/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "extern/NativeFileDialogExtended"]
	path = extern/NativeFileDialogExtended
	url = https://github.com/btzy/nativefiledialog-extended.git
